$basic: #fff;
$main: #926F33;

.nav {
    position: relative;
    width: 100vw;
    height: 70px;
    background-color: $main;
    &__search {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}